@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black: #000000;
$white: #ffffff;
$primaryColor: #1f78d1;
$secondaryColor: #233136;

$primaryFont: 'Montserrat', sans-serif;

$sectionPaddingX: 1.5rem;
$sectionPaddingY: 4rem;
$maxWidth: 1300px;

$textXs : 3.4rem;
$textLg : 2.2rem;
$textMd : 1.6rem;
$textSm : 1rem;
